<h1 class="w3-text-teal">About SmartUser</h1>

<p>SmartUser is a password manager designed not only to store your passwords for safekeeping, but also to help you use best-practices in password generation.</p>

<p>Online security is a serious issue. According to one <a href="http://www.csid.com/wp-content/uploads/2012/09/CS_PasswordSurvey_FullReport_FINAL.pdf">consumer survey</a> on password habits:</p>
<ul>
	<li>61% of consumers reuse the same password on multiple websites</li>
	<li>54% of consumers have only five passwords or less
	</li>
	<li>44% of consumers change their password only once a year or less
	</li>
	<li>21% of consumers have had an online account comprimised
	</li>
</ul>

<p>That's why SmartUser contains a number of helpful tools to make sure you're using safe and secure passwords. For more information about SmartUser, please <a href=<%= contact_path %>>contact</a> the developer.</p>