<h1>About SmartUser</h1>

<p>This is where you'll read the SmartUser mission statement where you can learn about the developer, Adam Whitehurst, his thoughts on password safety (citing relevant <a href="http://www.csid.com/wp-content/uploads/2012/09/CS_PasswordSurvey_FullReport_FINAL.pdf">data</a>), and why a password manager can be a safe & helpful tool:</p>

<ul>
	<li>61% of people reuse the same password on multiple websites</li>
	<li>54% of people have only five passwords or less
	</li>
	<li>44% of consumers change their password only once a year or less
	</li>
	<li>89% of consumers feel secure with their current password management and use habits
	</li>
	<li>21% of consumers have had an online account comprimised
	</li>
</ul>