<h1 class="w3-text-teal">Contact Us</h1>
<p>If you would like to learn more about our solutions and technologies, please contact the developer:</p>
<p>Adam Whitehurst<br />
awhitehurst4 (at) gmail.com</a></p>