<h1 class="w3-text-teal">SmartUser News</h1>
<h2 class="w3-text-teal" style="display:inline;">March 1, 2017</h2>
<p>SmartUser is live on Heroku!</p>
<h2 class="w3-text-teal" style="display:inline;">February 20, 2017</h2>
<p>SmartUser in under development.</p>