<h2><%= @app.name %> <%= link_to "(edit)", edit_app_path(@app) %></h2>

<h3>Accounts <%= link_to "(+)", new_app_account_path(@app) %></h3>

<ul>
  <% @app.accounts.each do |account| %>
    <li><%= link_to "#{account.username}", account %></li>
  <% end %>
</ul>
