<!DOCTYPE html>
<html>
  <head>
    <title>SmartUser</title>
     <link rel="icon" type="image/png" href="/assets/images/Login-toolbar-32.png" />
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<h1>SmartUser</h1>
  	<nav>
    <a href="/apps">All Apps</a>
    <a href="/apps/new">New App</a>
    <a href="/apps/about">About</a>
  	</nav>
    <%= yield %>
  </body>
</html>
